<<<<<<< HEAD

=======
>>>>>>> 11787569d75c7220e621c16474ff1ddc3c5da5ae
<h1><%= @question.title %></h1>

<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>

<p><%= @question.body %></p>
