<h1><%= markdown_title @post.title %></h1>

  <div class="row"
    <div class="col-md-8">
    <p><%= markdown_body @post.body %></p>
    </div>
<% if policy(@post).update? %>
    <%= link_to "Edit Post", edit_topic_post_path, class: 'btn btn-success' %>
<% end %>

